/PacketTemplate_SC/bin/Debug
/PacketTemplate_SC/obj/Debug
/PacketTemplate_CS/bin/Debug
/PacketLibrary/bin/Debug
/PacketLibrary/obj/Debug
/PacketGenerator/bin/Debug
/PacketGenerator/obj/Debug
/PacketTemplate_CS/obj/Debug
/PacketTemplate_SC/bin
/PacketLibrary/bin
/PacketGenerator/bin
/PacketTemplate_CS/bin
/.vs
/*.sdf
/PackageGenerator/bin
/PackageTemplate_CS/bin
/PackageTemplate_SC/bin
/PackageLibrary/bin
/PackageTemplate_CS/obj
/PackageTemplate_SC/obj
/PackageLibrary/obj
/PackageGenerator/obj
/Tests/vs_cpp/vs_cpp.sdf
/Tests/vs_cs/vs_cs/bin/Debug
/Tests/vs_cs/vs_cs/obj/Debug
/Tests/vs_cpp/.vs
/Tests/vs_cs/.vs
/Tests/vs_cpp/Release
/Tests/vs_cpp/Debug
/Tests/vs_cpp/x64
/Tests/vs_cpp/vs_cpp/Release
/Tests/vs_cpp/vs_cpp/x64
/Tests/vs_cpp/vs_cpp/Debug
/Tests/vs_cs/vs_cs/obj
/Tests/vs_cs/vs_cs/bin
/PackageTemplate_SS/obj
/PackageTemplate_SS/bin
